body{
    margin: 0;
    padding: 0;

}
p, h1,h2,h3,h4,h5,h6{
    margin: 1rem;
}
header{
    background-color: aqua;
    width: 100%;
    height: 10rem;
    border-radius: 7%;
    margin-bottom: 1rem;
    
}

/*BOTÕES DE FILTRO*/
.content-bt{
    display: flex;
	justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.btn-danger{
    margin-right: 1rem;
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.325);
    
}
/*CAIXAS DOS PETS*/
.content-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-pet{
    width: 150px;
    height: 150px;
    background-color: brown;
    margin: 20px;
    border-radius: 20%;
    box-shadow: 3px 3px rgba(55, 51, 51, 0.47);

}
footer{
    height: 25px;
    background-color: black;
    width: 100%;
}
