*{
	margin: 0; padding: 0;
}

#fundo{
	position: relative;
	background-image: linear-gradient( to bottom, #E63963, #EB5B7E, #F29DB2, #F7C4D1, #FADAE2, #ffffff );
	height: 800px;
	width: 100%;
}

#fundopata{
	position: absolute;
	width: 100%;
	height: 100%;
}

#local , #Ipessoa{
	position: absolute;
	padding-left: 5%;
	padding-top: 8%;
	height: 26px;
	width: 150px;
}

#Ipessoa{
	padding-left: 87%;
	width: 25px;
	height: 25px;
}

#Tdoacao{
	padding-left: 7%;
	padding-top: 20%;

}

#Paypal , #Apoiase{
	padding-left: 7%;
	padding-top: 9%;
}

#Picpay{
	padding-left: 37%;
	padding-top: 9%;
}

#Gato{
	padding-left: 45%;
	padding-top: 9%;
}

.Menu{
	position: relative;
}

#barra{
	position: absolute;
	width: 100%;
}

.Itens{
	width: 100%;
}

#Casa , #Coracao {
	position: relative;
	padding-top: 5%;
	padding-left: 10%;
}

#Balao{
	position: relative;
	padding-top: 5%;
	padding-left: 32%;
}

#Perfil{
	position: relative;
	padding-top: 5%;
	padding-left: 10%;
}
